<h2 class="section-title" position="center">PERSON DATE</h2>
<p> </p>
<p> </p>
<form class="row g-3">
  <div class="row">
    <div class="col-6">
      <label for="validationFirstName" class="form-label">First name</label>
      <input type="text" class="form-control is-valid" id="validationFirstName" placeholder="First name" value="Alex" required>
      <div class="valid-feedback">
        Good!
      </div>
    </div>

    <div class="col-6">
      <label for="validationSecondName" class="form-label">Second name</label>
      <input type="text" class="form-control is-valid" id="validationSecondName" placeholder="Second name" value="Francisco">
      <div class="valid-feedback">
        Good!
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-6">
      <label for="validationServerLastName1" class="form-label">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServerLastName1" value="Torres" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-6">
      <label for="validationServerLastName2" class="form-label">mother's last name</label>
      <input type="text" class="form-control is-valid" id="validationServerLastName2" value="Morales" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="validationServerinputEmail" class="col-sm-4 col-form-label">Email</label>
      <input type="email" class="form-control is-invalid" id="validationServerinputEmail" >
      <div id="validationServerinputEmailFeedback" class="invalid-feedback">
        Please choose a Email.
      </div>
    </div>

    <div class="col-1">
      <label for="inputPhono" class="form-label">Phono</label>
      <select id="inputPhono" class="form-select">
      <option selected>(+56)</option>
        <option>(+02)</option>
      </select>
    </div>

    <div class="col-5">
      <label for="validationServerNumPhono" class="form-label">Number</label>
      <input type="text" class="form-control is-invalid" id="validationServerNumPhono" required>
      <div id="validationServerNumPhonoFeedback" class="invalid-feedback">
        Please choose a Number.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <label for="validationServerCountry" class="form-label">Country</label>
      <select class="form-select is-invalid" id="validationServerCountry" aria-describedby="validationServer04Feedback" required>
        <option selected disabled value="">Choose...</option>
        <option>CHILE</option>
        <option>ARGENTINA</option>
      </select>
      <div id="validationServerCountryFeedback" class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>

    <div class="col-4">
      <label for="validationServerRegion" class="form-label">Region</label>
      <select class="form-select is-invalid" id="validationServerRegion" aria-describedby="validationServer04Feedback" required>
        <option selected disabled value="">Choose...</option>
        <option>Región Metropolitana</option>
        <option>La Boca</option>
      </select>
      <div id="validationServerRegionFeedback" class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>

    <div class="col-4">
      <label for="validationServerCommune" class="form-label">Commune</label>
      <select class="form-select is-invalid" id="validationServerCommune" aria-describedby="validationServer04Feedback" required>
        <option selected disabled value="">Choose...</option>
        <option>Santiago</option>
        <option>Argentina</option>
      </select>
      <div id="validationServerCommuneFeedback" class="invalid-feedback">
        Please select a valid Commune.
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-4">
      <label for="validationServerinputEmail" class="col-sm-4 col-form-label">Email</label>
      <input type="email" class="form-control is-invalid" id="validationServerinputEmail" >
      <div id="validationServerinputEmailFeedback" class="invalid-feedback">
        Please choose a Email.
      </div>
    </div>

    <div class="col-4">
      <label for="inputPassword1" class="col-sm-2 col-form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword1">
    </div>

    <div class="col-4">
      <label for="inputPassword2" class="col-sm-2 col-form-label">Repeat_Password</label>
      <input type="password" class="form-control" id="inputPassword2">
    </div>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" aria-disabled="true" type="button">ADD</button>
  </div>

</form>
